@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=SUSE:wght@100..800&display=swap');

:root{
      --main-color:#8e44ad;
      --black:#222;
      --white:#fff9;
      --light-blak:#777;
      --light-white:#fff9;
      --dark-bg:rgba(0,0,0,.7);
      --light-bg:#eee;
      --border:.1rem solid var(--black);
      --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
      --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
      font-family: "Poppins", sans-serif;
      margin:0;
      padding:0;
      box-sizing: border-box;
      outline: none; border: none;
      text-decoration: none;
      text-transform: capitalize;
}

.container {
      max-width: 1224px;
      width: 90%;
}
html{
      font-size: 62.5%;
      overflow-y: scroll; /* Enable vertical scrolling */
}

html::-webkit-scrollbar{
      width: 1rem;
}

html::-webkit-scrollbar-track{
      background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
      background-color: var(--main-color);
}

section{
      padding:2rem 5%;
}

@keyframes fadeIn {
      0%{
            transform: scale(.2);
            opacity: 0;
      }
}

.hedding{
      background-size: cover !important;
      background-position: center !important;
      padding-top: 10rem;
      padding-bottom: 15rem;
      display: flex;
      align-items: center;
      justify-content: center;
}

.hedding h1{
      font-size: 10rem;
      text-transform: uppercase;
      color: var(--white);
      text-shadow: var(--text-shadow);
}

.btn{
      display: inline-block;
      background: var(--black);
      margin-top: 1rem;
      color: var(--white);
      font-size: 1.7rem;
      padding: 1rem 3rem;
      cursor: pointer;
}

.btn:hover{
      background: var(--main-color);
}

.heading-title{
      text-align: center;
      margin-bottom: 3rem;
      font-size: 6rem;
      text-transform: uppercase;
      color: var(--black);
}

.header{
      position: sticky;
      top: 0; left: 0; right: 0;
      z-index: 1000;
      background-color: var(--white);
      display: flex;
      padding-top: 2rem;
      padding-bottom: 2rem;
      box-shadow: var(--box-shadow);
      align-items: center;
      justify-content: space-between;
}

.header .logo{
      font-size: 2.5rem;
      color: var(--black);
}

.header .navbar a{
      font-size: 1.5rem;
      margin-left: 2rem;
      color:var(--black);
}

.header .navbar a:hover{
      color: #ff0000;
}

#menu-btn{
      font-size: 2.5rem;
      cursor: pointer;
      color:var(--black);
      display: none;
}


.gallery{
      display: flex; 
      gap: 20px;
}
.column{
      display: flex;
      flex-direction: column ;
      gap: 20px;
}
.photo img{
      width: 220px;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.photo img:hover{
      transform: scale(1.1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.footer{
      background: url(photos/abstract.jpg) no-repeat;
      background-size: cover;
      background-position: center;
}

.footer .box-container{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 3rem;
}

.footer .box-container .box h3{
      color:var(--black);
      font-size: 2.5rem;
      padding-bottom: 2rem;
}

.footer .box-container .box a{
      color: var(--black);
      font-size: 1.5rem;
      padding-bottom: 1.5rem;
      display: block;
}

.footer .box-container .box a i{
      color: var(--main-color);
      padding-right: 5rem;
      transition: .2s linear;
}

.footer .box-container .box a:hover i{
      padding-right: 2rem;
}

.footer .credit{
      text-align: center;
      padding-top: 3rem;
      margin-top: 3rem;
      border-top: .1rem solid var(--light-blak);
      font-size: 2rem;
      color: var(--light-blak);
}

.footer .credit span{
      color: var(--main-color);
}

/* media queries */

@media (max-width:1200px) {
      section{
            padding:3rem 5%;
      }
}

@media(max-width:991px) {
      html{
            font-size: 55%;
      }
      section{
            padding:3rem 2rem;
      }

      .home .slide .content h3{
            font-size: 10vw;
      }
      .photo img{
            width: 400px;
            height: 100%;
}

@media(max-width:768px){
      #menu-btn{
            display: inline-block;
            transition: .2s linear;
      }

      #menu-btn.fa-times{
            transform: rotate(180deg);
      }

      .header .navbar{
            position: absolute;
            top:99%; left: 0; right: 0;
            background-color: var(--border);
            border-top: var(--border);
            padding: 2rem;
            transition: .2s;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      }

      .header .navbar.active{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      .header .navbar a{
            display: block;
            margin:2rem;
            text-align:center;
      }
      .gallery{
            flex-direction: column;
      }
      .photo img{
            width: 100%;
            height: 100%;

}



@media(max-width:450px) {
      html{
            font-size: 50%;
      }

      .heading-title{
            font-size: 3.5rem;
      }
}

